<div class="control-icon" data-action="thwildcard-selector" >
    <img src="modules/token-hud-wildcard/img/token-icon.svg" width="36" height="36" title="{{localize 'THWildcard.Title' }}" />
    <div class="thwildcard-selector-wrap {{#unless imageDisplay}}list{{/unless}}">
        {{#each imagesParsed as |image|}}
            {{#if image.type}}
                <button class="thwildcard-button-select control-icon {{#unless ../imageDisplay}}list{{/unless}} {{#if image.used}}thwildcard-button-disabled active{{/if}}" >
                    {{#if ../imageDisplay}}
                        {{#if image.img}}
                            <img class="thwildcard-button-image" src="{{image.route}}" alt="{{image.name}}" data-name="{{image.route}}" style="opacity:{{../imageOpacity}};"/>
                        {{/if}}
                        {{#if image.vid}}
                            <video class="thwildcard-button-image" src="{{image.route}}" alt="{{image.name}}" data-name="{{image.route}}" style="opacity:{{../imageOpacity}};" autoplay loop/>
                        {{/if}}
                    {{else}}
                        <span data-name="{{image.route}}">{{image.name}}</span>
                    {{/if}}
                </button>
            {{/if}}
        {{/each}}
    </div>
</div>