#token-hud .thwildcard-selector-wrap {
    position: absolute;
    left: 75px;
    top: -12px;
    visibility: hidden;
}
#token-hud .thwildcard-selector-wrap.active {
    visibility: visible;
}
#token-hud .thwildcard-button-select {
    width: 100% !important;
    max-width: 300px;
    overflow-wrap: break-word;
    padding-top: 0;
    padding-bottom: 0;
}
#token-hud .thwildcard-button-select:hover {
    color: white;
}